<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://libraryserviceninelinesofcode.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>libraryserviceninelinesofcode</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$libraryserviceninelinesofcode</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:i1knqgs64g.database.windows.net,1433;Initial Catalog=libraryserviceninelinesofcode_db;User ID=gariig@i1knqgs64g;Password=LR7q5!oH5YF&amp;37*p" Name="Data Source=tcp:i1knqgs64g.database.windows.net,1433;Initial Catalog=libraryserviceninelinesofcode_db;User Id=gariig@i1knqgs64g;Password=LR7q5!oH5YF&amp;37*p" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LibraryService.Models.ApplicationDbContext, LibraryService" MigrationConfiguration="LibraryService.Migrations.Configuration, LibraryService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:i1knqgs64g.database.windows.net,1433;Initial Catalog=libraryserviceninelinesofcode_db;User Id=gariig@i1knqgs64g;Password=LR7q5!oH5YF&amp;37*p</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>